@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');

* {
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
}

body{
  margin: 0;
  padding: 0;
}


/* Navbar */

nav{
  background-color: rgb(244, 243, 243);
  display: flex;
  align-items: center;
}

.active{
  color: orange !important;
}

.navbar-left{
  flex: 50%;
}

.navbar-right{
  flex: 50%;
  text-align: end;
  margin-right: 25px;
}

.navbar-right a{
  cursor: pointer;
  background-color: rgb(17, 23, 39);
  padding: 8px 15px;
  border-radius: 10px;
  color: white;
  font-size: 15 px;
}

.navbar-right a:hover{
  border: 1px solid;
  background: rgb(244, 243, 243);
  color: black;
}

.list{
  margin: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
}

.list li{
}

.list li a{
  font-size: 18px;
  margin: 15px;
  color: black;
}

.list li a:hover{
  color: orange;
}

.list li a img{
  width: 80px;
}

.navbar-dropdown button{
  margin: 20px;
  font-size: 20px;
  cursor: pointer;
  border: none;
  display: none;
} 

.dropdown-container {
  font-size: 18px;
  list-style-type: none;
  display: none;
}

.dropdown-container a, .dropdown-contact {
  text-decoration: none;
  color: black;
  background-color: #D3D3D3;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.dropdown-container .dropdown-active{
  text-decoration: none;
  color: black;
  background-color: orange;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.dropdown-contact a{
  width: 100px;
  background-color: rgb(17, 23, 39);
  padding: 8px 15px;
  border-radius: 10px;
  color: white;
  font-size: 15 px;
}

.dropdown-container a:hover{
  background-color: orange;
}

.dropdown-contact a:hover{
  padding: 7px 14px;
  border: 1px solid black;
  background: #D3D3D3;
  color: black;
}
/* Navbar */

/* Contact */

form{ 
    border-radius: 10px;
    box-shadow: 0 0 10px;
    width: 500px; 
    margin: 50px auto;
    padding: 20px;
  }
  
  form h1{
    text-align: center;
  }
  
  form div{
    padding: 10px 35px 10px 20px;
  }
  
  form div label{
    font-size: 18px;
    font-weight: bold;
  }
  
  input, select, textarea{
    border-radius: 5px;
    margin: 0 10px 0 0;
    border: 1px solid #dbdbdb;
    width: 100%;
    padding: 13px 10px;
    border: 0;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    resize: none;
  }
  
  .button-submit button{
    cursor: pointer;
    border: none;
    padding: 10px;
    border-radius: 5px;
    background-color: #47d66a;
    color: white;
  }
  
  .button-submit button:hover{
    background-color: orange;
  }
  
  /* Contact */

  @media only screen and (max-width: 900px){

    .items-hidden{
      display: none;
    }
  
    .navbar-dropdown button{
      display: block;
    }

    form{
      width: 80%;
    }
  }