@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');

* {
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
}

body{
  margin: 0;
  padding: 0;
}

/* Navbar */

nav{
    background-color: rgb(244, 243, 243);
    display: flex;
    align-items: center;
  }
  
  .navbar-left{
    flex: 50%;
  }
  
  .navbar-right{
    flex: 50%;
    text-align: end;
    margin-right: 25px;
  }
  
  .navbar-right a{
    cursor: pointer;
    background-color: rgb(17, 23, 39);
    padding: 8px 15px;
    border-radius: 10px;
    color: white;
    font-size: 15 px;
  }
  
  .navbar-right a:hover{
    border: 1px solid;
    background: rgb(244, 243, 243);
    color: black;
  }

  .list{
    margin: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
  }
  
  .list li{
  }
  
  .list li a{
    font-size: 18px;
    margin: 15px;
    color: black;
  }
  
  .list li a:hover{
    color: orange;
  }
  
  .list li a img{
    width: 80px;
  }

/* Navbar */
  
/* Form Add Projects */
.form-projects{
  background-color: #E3E7EB;
  display: flex;
  justify-content: center;
  font-size: 18px;
}

.form-projects-body{
  width: 50%;
  margin: 100px;
}

form h1{
  margin-top: 0;
  text-align: center;
}
.form-project-input{
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}
.form-project-input input, .form-project-date input{
  padding: 13px;
  border: 0;
  border-radius: 5px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
}

.form-project-date-group{
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
.form-project-date{
  display: flex;
  flex-direction: column;
  width: 40%;
}
.form-project-date{
  display: flex;
  flex-direction: column;
  width: 49%;
}
.form-project-input textarea{
  height: 100px;
  padding: 10px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
  border: 0;
  border-radius: 5px;
  resize: none;
}
.form-project-checkbox{
  display: flex;
  flex-wrap: wrap;
}
.technologies-checkbox{
  width: 40%;
  margin-top: 10px;
}
.technologies-checkbox.up{
  margin-top: 5px;
}
#form-project-upload-image{
  display: none;
}
.form-project-upload-image-group{
  margin-top: 15px;
}
.upload-image-button{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border: 0;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
}
.upload-image-button .button{
  padding: 5px 15px;
  background-color: #e3e7eba9;
  color: grey;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.upload-image-button .img img{
  position: relative;
  top: 5px;
  right: 10px;
  width: 20px;
  cursor: pointer;
}
.form-project-submit-button{
  margin-top: 50px;
  text-align: end;
}
.form-project-submit-button button{
  background-color: black;
  color: white;
  padding: 10px 25px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: bold;
  border: 0;
  cursor: pointer;
  
}
.form-project-submit-button button:hover{
  padding: 9px 24px;
  color: black;
  border: 1px solid;
  background-color: #E3E7EB;
}
/* Form Add Projects */

/* List Projects */
.list-projects{
  background-color: white;
  display: flex;
  justify-content: center;
}

.project-container{
  width: 1200px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.project-container h1{
  text-align: center;
}
.project-list{
  display: flex;
  justify-content: baseline;
  flex-wrap: wrap;
  margin-top: 35px;
}
.project-items{
  width: 30%;
  display: flex;
  justify-content: center;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  margin: 18px;
}
.project-items-container{
  padding-top: 10px;
  width: 90%;
  overflow: hidden;
}
.project-list-image{
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.project-list-image img{
  width: 300px;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
}
.project-list-title .list-title{
  margin: 15px 0 0 0;
  font-weight: 500;
  font-size: 14px;
}
.project-list-title .list-title a{
  color: black;
}
.project-list-title .list-duration{
  margin: 0;
  font-size: 10px;
  color: grey;
}
.description{
  margin-top: 25px;
  width: 100%;
  height: 60px;
  overflow: hidden;
  display: flex;
}
.list-description{
  margin: 0;
  font-size: 10px;
  text-align: justify;
}
.project-items-container .technology{
  margin-top: 25px;
}
.project-items-container .technology img{
  width: 30px;
  margin-right: 10px;
}
.project-list-button{
  margin-top: 25px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
.project-list-button button{
width: 49.5%;
height: 25px;
background-color: black;
color: white;
font-weight: bold;
border: 0;
border-radius: 5px;
cursor: pointer;
}
.project-list-button button:hover{
  color: black;
  border: 1px solid;
  background-color: white;
}
/* List Projects */
