@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');

* {
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
}

body{
  margin: 0;
  padding: 0;
}

/* Navbar */

nav{
  background-color: rgb(244, 243, 243);
  display: flex;
  align-items: center;
}

.navbar-left{
  flex: 50%;
}

.navbar-right{
  flex: 50%;
  text-align: end;
  margin-right: 25px;
}

.navbar-right a{
  cursor: pointer;
  background-color: rgb(17, 23, 39);
  padding: 8px 15px;
  border-radius: 10px;
  color: white;
  font-size: 15 px;
}

.navbar-right a:hover{
  border: 1px solid;
  background: rgb(244, 243, 243);
  color: black;
}

.list{
  margin: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
}

.list li{
}

.list li a{
  font-size: 18px;
  margin: 15px;
  color: black;
}

.list li a:hover{
  color: orange;
}

.list li a img{
  width: 80px;
}

/* Navbar */

#container{
    display: flex; 
    background-color: white; 
    border-radius: 10px; 
    width: 800px; 
    margin: 50px auto; 
    box-shadow: 0 0 10px black; 
    padding: 50px;
    align-items: stretch;
}

.description p{
  line-height: 1.5; 
  text-align: justify; 
  width: 460px;
}

.button-group{
  display: flex; 
  margin: 40px 0;
}

.contact{
  margin: 10px 0; 
  padding: 8px 10px 8px 15px; 
  background-color: rgb(17, 23, 39); 
  border-radius: 20px; 
  width: 70px; 
  color: white; 
  letter-spacing: 1px;
}

.contact:hover{
  cursor: pointer;
  padding: 7px 9px 7px 14px;
  border: 1px solid;
  background: rgb(244, 243, 243);
  color: black;
}

.download{
  text-decoration: none; 
  color: black; 
  display: block; 
  padding: 18px 10px 0 20px;
}

.media-social{
  width: 240px; 
  margin-top: 20px;
}

.media-social img{
  width: 35px; 
  margin: 0 10px;
}

.profile-card{
  width: 300px; 
  box-shadow: 0 0 5px; 
  margin-left: auto; 
  border-radius: 10px; 
  text-align: center;
}

.profile-card img{
  width: 100%; 
  border-radius: 10px 10px 0 0;
}

.profile-card div{
  padding: 10px;
}

/* Contact */

form{ 
  border-radius: 10px;
  box-shadow: 0 0 10px;
  width: 500px; 
  margin: 50px auto;
  padding: 20px;
}

form h1{
  text-align: center;
}

form div{
  padding: 10px 35px 10px 20px;
}

form div label{
  font-size: 18px;
  font-weight: bold;
}

input, select, textarea{
  border-radius: 5px;
  margin: 0 10px 0 0;
  border: 1px solid #dbdbdb;
  width: 100%;
  padding: 13px 10px;
  border: 0;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  resize: none;
}

button{
  cursor: pointer;
  border: none;
  padding: 10px;
  border-radius: 5px;
  background-color: #47d66a;
  color: white;
}

button:hover{
  background-color: orange;
}

/* Contact */