<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Weak 1 - Day 1</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/style.css">

</head>
<body>  

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid mx-5">
            <a class="navbar-brand" href="/">
                <img src="public/images/logo-dumbways.png" alt="Bootstrap" width="50" height="50">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-lg-between text-center" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    {{ if .DataSession.IsLogin }}
                    <li class="nav-item">
                        <a class="nav-link" href="/form-project">Add Project</a>
                    </li>
                    {{ end }}
                    <li class="nav-item">
                        <a class="nav-link" href="/testimonials">Testimonials</a>
                    </li>
                </ul>
                <div class="d-flex justify-content-center align-items-center">
                    {{ if .DataSession.IsLogin }}
                    <p class="my-auto me-2">Hello, {{ .DataSession.Name }}</p>
                    <form id="myform" action="/logout" method="post">
                        <button onclick="document.getElementById('myform').submit()" class="border-0 me-2">Log Out</button>
                    </form>
                    {{ else }}
                    <a class="nav-link me-2" href="/form-register">Register</a>
                    <a class="nav-link me-3" href="/form-login">Login</a>
                    {{ end }}
                    <a class="btn btn-outline-success" href="/contact">Contact Me</a>
                </div>
            </div>
        </div>
    </nav>
    <!-- Navbar -->
    {{if .FlashMessage}} {{if .FlashStatus}}
    <div class="alert alert-success alert-dismissable fade show" role="alert">
      <strong>{{.FlashMessage}}</strong>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
    {{end}}{{end}}
    
    <!-- Boday Container -->
    <div class="container-fluid shadow-lg p-3 mb-5 bg-body rounded justify-content-between mt-sm-5 w-75 h-25 d-lg-flex">
        <div class="m-5 w-75">
            <div class="">
                <h2>Hi Welcome to my hut</h2>
                <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur quas minima soluta, voluptatum nostrum delectus est cum, asperiores unde non odit voluptatem quia ea fugiat numquam beatae itaque dicta nam, a alias in quidem nobis. Tenetur possimus accusantium quod numquam consectetur vitae odio nemo, impedit neque suscipit, dolorum libero repellendus at fugit quae sit illum reiciendis autem officia dolorem quibusdam labore non placeat aut? Id hic ratione modi non aliquam?</p>
            </div>
            <div class="d-flex align-content-center my-5">
                <a class="btn btn-outline-dark rounded-5" href="contact.html">contact</a>
                <a class="p-2 text-decoration-none text-black" href="">download CV <img style="width: 15px; margin: 0 5px;" src="public/images/downloads.png" alt=""></a>
            </div>
            <div class="media-social text-sm-center m-auto m-lg-0">
                <img src="public/images/linkedin.png" alt="">
                <img src="public/images/instagram (1).png" alt="">
                <img src="public/images/facebook.png" alt="">
                <img src="public/images/twitter.png" alt="">
            </div>
        </div>
        <div class="card m-lg-5 w-50 h-50 mx-auto mb-5 shadow-lg">
            <img src="public/images/5506218.jpg" class="card-img-top" alt="...">
            <div class="card-body text-center">
                <h4 class="card-title">Muhammad Wildan Firdaus</h4>
                <p class="card-text">Fullstack Developer</p>
            </div>
        </div>
    </div>
    <!-- Body Container -->

    <!-- List Projects -->
    <div class="container-fluid mt-5">
        <div class="m-5">
            <div class="d-flex justify-content-between my-5 text-center bg-secondary rounded-4 shadow-lg">
                <h3 class="p-4 m-0">My Projects</h2>
                {{if .DataSession.IsLogin}}
                <a class="btn btn-outline-success h-50 my-auto me-4" href="/form-project">Add New Project <i class="fa-solid fa-plus"></i></a>
                {{ end }}
            </div>
            <div class="d-flex flex-wrap justify-content-between text-center">
                {{ range $index, $data := .Projects }}
                <div class="d-flex my-4 cards">
                    <div class="card">
                        <img src="public/images/project-tumbnail.png" class="card-img-top" alt="">
                        <div class="card-body">
                            <div class="mb-4">
                                <a href="/detail-project/{{ $data.Id }}" class="text-decoration-none text-dark cursor">{{ $data.Title }}</a>
                                <p class="list-duration">{{ $data.StartFormat }} - {{ $data.EndFormat }}</p>
                                <p class="list-duration">{{ $data.Duration }}</p>
                            </div>
                            <p class="card-text">{{ $data.Description }}</p>
                            <div class="d-flex justify-content-center">
                                <div>
                                    {{ if $data.Reactjs }}
                                    <img class="w-100 me-2" src="public/images/reactjs.png" alt="reactjs">
                                    {{ end }}
                                </div>
                                <div>
                                    {{ if $data.Nextjs }}
                                    <img class="w-75 me-2" src="public/images/nextjs.png" alt="nextjs">
                                    {{ end }}
                                </div>
                                <div>
                                    {{ if $data.Nodejs }}
                                    <img class="w-100 me-2" src="public/images/nodejs.png" alt="nodejs">
                                    {{ end }}
                                </div>
                                <div>
                                    {{ if $data.Typescript }}
                                    <img class="w-75" src="public/images/typescript.png" alt="typescript">
                                    {{ end }}
                                </div>
                            </div>
                            {{ if $.DataSession.IsLogin }}
                            <div class="d-flex justify-content-center mt-4">
                                <form action="/update-project/{{ $data.Id }}" method="get">
                                    <input class="btn btn-outline-primary delete" type="submit" value="Edit">
                                </form>
                                <form action="/delete-project/{{ $data.Id }}" method="post">
                                    <input class="btn btn-outline-danger ms-3 delete" type="submit" value="Delete" >
                                </form>
                            </div>
                            {{ end }}
                        </div>  
                    </div>
                </div>
                {{ end }}
            </div>
        </div>
    </div>
    <!-- List Projects -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="public/js/index.js"></script>
    <script src="public/js/myproject.js"></script>
</body>
</html>